#logo{
    position:absolute;
    width: 200px;
    height: 100px;
    display: block;
    text-decoration:none;
}
.header{
    /* width: 100%; 
    position:relative;*/
    overflow:hidden;
    z-index:2;
    display:block;
}
/* *,*:before,*:after{
    display:block;
}
 */

header h1{
    float:right;
    width:50%;
}

.header h1{
    float: right;
}

div.content {
    width: 100px;
    margin-left: 250px;
    padding: 1px 16px;
    overflow: auto;
}

table{
    border:1px solid black;

}

th{
    background-color:coral;
    color:black;
}
td{
    border:1px solid black;
}

input{
    margin:10px;
    padding: 5px;

}

#navigation{
    overflow:auto;
    /* height: 100%; */
    border: solid 1px black;
    width:200px;
    background-color: #f1f1f1;
    position: fixed;
    margin:0;
    padding:0;
}

#navigation a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border:1px solid black;
}

  /* Active/current link */
#navigation a.active {
    background-color: #4CAF50;
    color: white;
}
  
  /* Links on mouse-over */
#navigation a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 700px) {
    #navigation {
      width: 100%;
      height: auto;
      position: relative;
    }
    #navigation a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px*/
  @media screen and (max-width: 400px) {
    #navigation a {
      text-align: center;
      float: none;
    }
  }